numpy
langchain
langchain-openai
openai 
langchain_community
torch
transformers
pypdf
chromadb
typing_extensions
langgraph
ipython
pillow
langgraph[draw]
ipykernel
matplotlib
ipython
langchain_chroma
langsmith
wikipedia